<% @comments.each do |comment| %>
<div class="feed-element">
  <div class="media-body" style="font-size:14px;">
    <span class="pull-right text-navy">
      <%= time_ago_in_words(comment.updated_at) %> <%= t ".ago" %>
    </span>
    <strong><%= comment.user_name %></strong>
    <br>
    <small class="text-muted">
      <%= @entry.created_at.to_time.strftime t(".format_time") %>
    </small>
    <div class="well">
      <%= comment.content.html_safe %>
      <% if user_signed_in? && current_user == comment.user %>
        <div class="actions">
        <%= link_to t(".edit"), edit_entry_comment_path(comment.entry, comment),
        :remote => true, class: "btn btn-xs btn-primary"  %>
        <%= link_to t(".delete"), entry_comment_path(comment.entry, comment),
        method: :delete, :remote => true, data: {confirm: t(".sure")}, class: "btn btn-xs btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
