<% provide(:title, t(".edit_entry")) %>
<% provide(:button_text, t(".save_change")) %>
<h1><%= t ".edit_entry" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @entry], method: :patch do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :title %>
      <%= f.text_area :title, class: "form-control" %>

      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control" %>

      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png",
        class: "picture" %>

      <%= f.label :status %>
      <%= f.select :status, options_for_select(show_status,
        selected: @entry.status) %>
      <%= f.hidden_field :user_id, value: current_user.id %>

      <%= f.submit t(".save_change"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
