<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".blog_app"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".sign_in"), new_user_session_path %></li>
        <li><%= link_to t(".sign_up"), new_user_registration_path %></li>
        <li class="nav-item dropdown">
          <% if user_signed_in? %>
            <li class="dropdown">
              <%= link_to "#", :"data-toggle" => "dropdown", :class => "dropdown-toggle" do %>
                <%= t ".username" %> <b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to t(".log_out"), destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
